html, body{

    font-family: Arial, sans-serif;
    
    margin: 0;
    }
    header{
    background-color: #5681A6;
    padding: 40px;
    text-align: center;
    }
    h1{
    font-size: 95px;
    color: white;
    -webkit-text-reflect: below 1px linear-gradiant(transparent, #0008);
 line-height: 0.70em;
 outline: none;
 animation: animate 10s  infinite;
 font-style: 40px;
 }
 @keyframes animate {
 	0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%{
 		color: #f2f2f2;
     text-shadow:  0 0 100px;
 	}
 	18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%{
 		color: #1fc6e0;
 		text-shadow: 0 0 10px;
 	}